@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap');

$white: #fff;
$black: #000;
$bg-gradient: linear-gradient(151deg, rgba(50, 108, 255, 1) 0%, rgba(38, 255, 242, 1) 100%);
$bg-gradient-safe: rgb(50, 108, 255);

*{
    transition: all 0.2s linear;
}

html{
    font-size: 10px;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    //font-family: 'Marcellus', serif;
    font-family: 'Mulish', sans-serif;
}

a,button{
    &:focus{
        outline: none;
    }
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.container{
    max-width: 144rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @media (max-width: 768px){
        &__logo{
            img{
                width: 100px;
            }
        }
    
        &.active{
            
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
    
            opacity: 1;
            background-color: #010101;
            
            .header__inner{
                height: 100vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                overflow: auto;
            }
    
            .header__logo{
                position: absolute;
                top: 15px;
                left: 20px;
                z-index: 11;
            }
        }
    }
    
    @media (min-width: 0) and (max-width: 850px) and (orientation: landscape){
        &.active .header__inner{
            justify-content: flex-start;
        }
    }
    
}

.nav{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item{
        margin: 0 2.5rem;
    }
    &-link{
        text-decoration: none;
        font-weight: 700;
        color: rgba($white, 0.5);
        transition: 0.2s ease color;
        &:hover{
            color: rgba($white, 1);
            &::after{
                opacity: 1;
           }  
        }
        &::after{
            content: '';
            opacity: 0;
            display: block;
            width: 100%;
            height: .2rem;
            margin-top: .5rem;
            border-radius: .5rem;
            background: $bg-gradient-safe;
            background: $bg-gradient;
            transition: opacity .2s linear;
        }
        &.active{
           color: rgba($white, 1.0);  
           &::after{
                opacity: 1;
           }    
        }
    }
    @media (max-width: 768px){
        display: none;
        
        &.active{
            display: block;
            margin-bottom: 40px;

            .nav__list{
                flex-direction: column;
            }

            .nav__item{
                margin-bottom: 40px;
                text-align: center;
                margin-right: 0;

                &:last-child{
                    margin-bottom: 0;
                }
            }
            .nav__link{
                font-size: 35px;
            }

        }
    }

    @media (min-width: 0) and (max-width: 850px){
        &.active{
            .nav__link{
                font-size: 20px;
            }
        }
    }
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
header.fixed-top.active{
    
        background: $black;
    
}
.control{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item{
        margin-left: 7.5rem;
    }
    &-btn{
        background-color: transparent;
        border: none;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        &:hover{transform: scale(1.1);
        }
       
        &_search{
            width: 1.8rem;
            height: 1.8rem;
        }
        &_notice{
            width: 1.8rem;
            height: 1.8rem;
        }
        &_account{
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}

.section{
    &__h2{
        font-size: 2.8rem;
        line-height: 2rem;
        position: relative;
        padding-left: 2rem;
        padding-right: 3rem;
        font-weight: 700;
        display: inline-block;
        &::before{
            content: '';
            display: block;
            width: .8rem;
            height: 3.5rem;
            border-radius: 5rem;
            background: $bg-gradient-safe;
            background: $bg-gradient;
            position: absolute;
            left: 0;
            top: calc(50% - 1.7rem);
        }
        &::after{
            content: '';
            display: block;
            width: 1.9rem;
            height: 1.5rem;
            background-image: url(image/arrow-right.svg);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 0;
            top: calc(50% - .7rem);
        }
        &-link{
            color: $white;
            text-decoration: none;
        }
    }
    &__btn{
        border: none;
        border-radius: 10rem;
        padding: 1.5rem 3rem;
        font-family: 'Mulish', sans-serif;
        font-weight: 600;
        cursor: pointer;
        background: $bg-gradient-safe;
        background: $bg-gradient;
        color: $white;
        box-shadow: 0px 4px 50px rgba($bg-gradient-safe, 0.5);
        //transition: .2s ease box-shadow;
        margin-top: 2.5rem;
        &:hover{
            transform: scale(1.1);
            box-shadow: 0px 0px 0px rgba($bg-gradient-safe, 0.5);
        }
    }
}

.section-banner{
    border-bottom: .1rem solid #2F2E2E;
    position: relative;
    overflow: hidden;
    &__image{
        position: absolute;
        right: 0;
        z-index: -1;
    }
}

.banner{
    max-width: 56.2rem;
    padding-top: 12.2rem;
    padding-bottom: 20.3rem;
    background-color: $black;
    box-shadow: 100px 0px 100px $black;
    &__title{
        font-family: 'Marcellus SC', serif;
        font-size: 8rem;
        line-height: 7.5rem;
    }
    &__text{
        color: #C2C2C2;
        font-size: 1.8rem;
        line-height: 1.6;
    }
    &-info{
        font-size: 800;
        margin-bottom: 2.9rem;
        &__year{
            margin-right: 1.8rem;  
        }
        &__age{
            margin-right: 1.8rem;  
            position: relative;
            width: 6rem;
            display: inline-block;
            text-align: center;
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 2.4rem;
                //background-image: ;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: calc(50% - 1.3rem);
                left: 0;
                right: 0;
                border: 2px solid linear-gradient(rgba(50, 108, 255, 1) 0%, rgba(38, 255, 242, 1) 100%);
                border-radius: 30px;
            }
        }
        &__time{
            margin-right: 6.1rem;  
        }
        &__rating{
            &::after{
                content: '';
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;
                background-image: url(image/star.png);
                margin-left: 1rem;
            }
        }
    }
    &-control{
       &__btn{
            background-color: transparent;
            border: none;
            border-radius: 10rem;
            padding: 1.5rem 3rem;
            font-family: 'Mulish', sans-serif;
            font-weight: 800;
            cursor: pointer;
            // -webkit-transition: -webkit-transform .2s linear,-webkit-box-shadow .2s linear;
            // transition: -webkit-transform .2s linear,-webkit-box-shadow .2s linear;
           
            // transition: transform .2s linear,box-shadow .2s linear;
            // transition: transform .2s linear,box-shadow .2s linear,-webkit-transform .2s linear,-webkit-box-shadow .2s linear;
       }
       &__btn-main{
            background: $bg-gradient-safe;
            background: $bg-gradient;
            color: $white;
            position: relative;
            padding-left: 6rem;
            margin-right: 3rem;
            box-shadow: 0px 4px 50px rgba($bg-gradient-safe, 0.5);
            
            &:hover{
                box-shadow: 0px 0px 0px rgba($bg-gradient-safe, 0.5);
               
                    //background-color: transparent;
                    transform: scale(1.1);
                
            }
            &::after{
                content: '';
                width: 1.4rem;
                height: 1.8rem;
                display: block;
                background-image: url(image/play.png);
                background-repeat: no-repeat;
                position: absolute;
                left: 3rem;
                top: calc(50% - .9rem);
            }
       } 
       &__btn-more{
            background-color: $white;
            color: #323232;
           
            &:hover{
                
                //background-color: transparent;
                transform: scale(1.1);
            }
       }
    }
    @media (max-width: 991px){
        &__text-block-wrapper{
            max-width: 350px;
        }

        &__title{
            font-size: 50px;
        }

        &__btns{    
            button:last-child{
                margin-left: 0;
                margin-top: 30px;
            }
        }
    }

    @media (max-width: 768px){
        &__inner{
            background: linear-gradient(rgba(#000, .5)), url('../images/banner/banner-bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &__text-block-wrapper{
            width: 100%;
            background: none;
            box-shadow: none;
        }

        &__text-block{
            top: auto;
            bottom: 10%;
        }

        &__title{
            font-size: 40px;
        }
    }

    @media (max-width: 360px){
        &__title{
            font-size: 30px;
        }

        &__text{
            font-size: 15px;
            line-height: 1.5;
        }

        &__btns{
            .btn{
                font-size: 12px;
                padding: 8px 10px;
                margin-bottom: 15px;
                margin-right: 15px;

                &:last-child{
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.movies{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.1rem;
    margin-bottom: 3.5rem;
    &-item{
        box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.0);
        transition: .2s ease box-shadow;
        border-radius: 10px;
        //flex: 0 0 14%;
        &:hover{
            filter: drop-shadow(0px 0px 20px rgba(44,176,249,0.5));
            box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
        }
    }
    &__link{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 30.9rem;
        
    }
    &__img{
        border-radius: 10px;
        left: 50%;
        top: 50%;
        object-fit: cover;
        position: initial;
        transform: (-50%, -50%);
    }
}
.genres{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2.1rem;
    &-item{
        flex: 0 0 23.7%;
        border-radius: 2rem;
        padding: 3rem 1rem 3rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 2.7rem;
        
        &_romance{
            background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
            color: $white;
            text-decoration: none;
        }
        &_drama{
            background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
            color: $white;
            text-decoration: none;
        }
        &_historical{
            background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
            color: $white;
            text-decoration: none;
        }
        &_action{
            background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
            color: $white;
            text-decoration: none;
        }
        &_sci-fi{
            background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
            color: $white;
            text-decoration: none;
        }
        &_horror{
            background: linear-gradient(110.16deg, #13547A 2.37%, #3CDB77 96.77%);
            color: $white;
            text-decoration: none;
        }
        &_comedy{
            background: linear-gradient(109.5deg, #FFF77B 2.22%, #FFBF42 50%);
            color: $white;
            text-decoration: none;
        }
        &_documentary{
            background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1F535C 97.46%);
            color: $white;
            text-decoration: none;
        }
    }
    &-item:hover{
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    &-icon{
        position: relative;
        overflow: hidden;
        height: 7rem;
    }
    &__image{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        object-fit: cover;

    }
    &__title{
        font-size: 2.8rem;
        font-weight: 700;
        margin: .2rem 0 0 0;
        &:hover{
            color: white;
            
        }
    }
}

.actors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 2.1rem;
    &-item{
        flex: 0 0 14%;
        border-radius: 30px;
    }
    &__img{
        border-radius: 20rem;
        width: 19rem;
        height: 19rem;
        position: absolute;
        left: 50;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        filter: brightness(.4);
        -webkit-filter: brightness(.4);
        transition: filter .2s linear;
        &:hover
        {
            filter:none;
            -webkit-filter: none;
        }
    }
    &__link{
        overflow: hidden;
        position: relative;
        width: 19rem;
        height: 19rem;
        display: block;
    }
    @media (max-width: 991px){
        &__person{
            flex-basis: 32%;
        }
    }

    @media (max-width: 768px){
        &__person{
            font-size: 16px;
            flex: 0 0 48%;
        }
    }
}

.marketing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 2.1rem;
    margin-bottom: 4rem;
    &-item{
        flex: 0 0 50%;
        border-radius: 2rem;
        &:first-child{
            .marketing__link{
                border-radius: 2rem 0 0 2rem;
            }
        }
        &:last-child{
            .marketing__link{
                border-radius: 0 2rem 2rem 0;
            }
        }
    }
    &__img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    &__link{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 34.1rem;
        display: block;
    }
}
footer{
    background-color: #101012;
    padding: 7rem 0 5rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    max-width: 144rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    &-list{
        list-style: none;
        padding-left: 0;
        margin: 0;
        &__item{
            margin-bottom: 2rem;
        }
        &__link{
            font-size: 1.8rem;
            color: rgba($white, 0.5);
            text-decoration: none;
            transition: 0.2s ease color;
            font-weight: 600;
            &:hover{
                color: rgba($white, 1);
                &::after{
                    opacity: 1;
                }
            }
            &::after{
                content: '';
                opacity: 0;
                display: block;
                width: 100%;
                height: .2rem;
                margin-top: .5rem;
                border-radius: .5rem;
                background: $bg-gradient-safe;
                background: $bg-gradient;
                transition: opacity .2s linear;
            }
        }
        
    }

    @media (max-width: 991px){
        &__col{
            &:first-child{
                flex-basis: 100%;
                justify-content: center;
                text-align: center;
            }
            flex-basis: 32%;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 768px){
        &__inner{
            padding: 40px 0;
        }
        &__col{
            &:first-child{
                flex-basis: 100%;
                justify-content: center;
                text-align: center;
            }
            flex-basis: 50%;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 480px){
        &__col{
            flex-basis: 100%;
            margin-bottom: 40px;
        }
    }
}

