- var pageTitle = 'Online Cinema'

doctype html
html(lang="en")
  head
    title= pageTitle
    style
        include css/style.css
        include styles/normilize.css
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css")
  body
    include modules/header
 
    section.section-banner
        img(src="image/banner_2.jpg", alt="Banner").section-banner__image
        .container
            .banner
              h1.banner__title Zack Snyder's Justice League
              .banner-info
                span.banner-info__year 2021
                span.banner-info__age 18+
                span.banner-info__time 4h 2min
                span.banner-info__rating 8.8
              p.banner__text  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
              .banner-control
                button.banner-control__btn.banner-control__btn-main Watch
                button.banner-control__btn.banner-control__btn-more More information  
    section.section
        .container
            h2.section__h2
               a(href="#").section__h2-link Trending TV Shows
            .movies
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_8.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_9.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov-10.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov-11.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov-12.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov-13.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov-14.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov-15.png", alt="").movies__img
    section.section
        .container
            h2.section__h2
               a(href="#").section__h2-link Trending Movies
            .movies
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_1.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_2.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_3.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_4.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_5.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_6.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_7.png", alt="").movies__img
                .movies-item
                  a(href="#").movies__link    
                     img(src="image/mov_8.png", alt="").movies__img
            button.section__btn See more
    section.section
        .container
            h2.section__h2
               a(href="#").section__h2-link Popular genres
            .genres
                .genres-item.genres-item_romance
                  .genres-icon
                     img(src="image/hearts.png", alt="").genres__image
                  h3.genres__title Romance
                .genres-item.genres-item_drama
                  .genres-icon
                     img(src="image/drama.png", alt="").genres__image
                  h3.genres__title Drama
                .genres-item.genres-item_historical
                  .genres-icon
                     img(src="image/historical.png", alt="").genres__image
                  h3.genres__title Historical
                .genres-item.genres-item_action
                  .genres-icon
                     img(src="image/action.png", alt="").genres__image
                  h3.genres__title Action
                .genres-item.genres-item_sci-fi
                  .genres-icon
                     img(src="image/sci-fi.png", alt="").genres__image
                  h3.genres__title Sci-fi
                .genres-item.genres-item_horror
                  .genres-icon
                     img(src="image/horror.png", alt="").genres__image
                  h3.genres__title Horror
                .genres-item.genres-item_comedy
                  .genres-icon
                     img(src="image/comedy.png", alt="").genres__image
                  h3.genres__title Comedy
                .genres-item.genres-item_documentary
                  .genres-icon
                     img(src="image/documentary.png", alt="").genres__image
                  h3.genres__title Documentary
    section.section
        .container
            h2.section__h2
               a(href="#").section__h2-link Popular Actors & Directors
            .actors
               .actors-item
                  a(href="#").actors__link
                     img(src="image/actor-1.jpg", alt="").actors__img
                  h3.actors__title Erin Moriarty
               .actors-item
                  a(href="#").actors__link
                     img(src="image/actor-2.jpg", alt="").actors__img
                  h3.actors__title Karen Fukuhara
               .actors-item
                  a(href="#").actors__link
                     img(src="image/actor-3.jpg", alt="").actors__img
                  h3.actors__title Joe Keery
               .actors-item
                  a(href="#").actors__link
                     img(src="image/actor-4.jpg", alt="").actors__img
                  h3.actors__title Emilia Clarke
               .actors-item
                  a(href="#").actors__link
                     img(src="image/actor-5.jpg", alt="").actors__img
                  h3.actors__title Nathalie Emmanuel
               .actors-item
                  a(href="#").actors__link
                     img(src="image/actor-6.jpg", alt="").actors__img
                  h3.actors__title Martin Freeman           
    section.section
        .container
            .marketing
               .marketing-item
                  a(href="#").marketing__link 
                     img(src="image/banner_3.jpg", alt="").marketing__img
               .marketing-item
                  a(href="#").marketing__link 
                     img(src="image/banner_4.jpg", alt="").marketing__img
    
    include modules/footer

